numpy==1.20.2
plotly==4.14.3
pylogix==0.7.15
streamlit_aggrid==0.1.9
pyzbar==0.1.8
streamlit==0.88.0
pandas==1.2.5
pymongo==3.12.0
matplotlib==3.4.2
pytz==2021.1
opencv_python_headless==4.5.3.56
Pillow==8.4.0
